In [1]:
import pandas as pd

In [2]:
# Upload data into their own dataframes
df1 = pd.read_csv('Raw Data/JC-202301-citibike-tripdata.csv')

df2 = pd.read_csv('Raw Data/JC-202302-citibike-tripdata.csv')

df3 = pd.read_csv('Raw Data/JC-202303-citibike-tripdata.csv')

df4 = pd.read_csv('Raw Data/JC-202304-citibike-tripdata.csv')

df5 = pd.read_csv('Raw Data/JC-202305-citibike-tripdata.csv')

df6 = pd.read_csv('Raw Data/JC-202306-citibike-tripdata.csv')

df7 = pd.read_csv('Raw Data/JC-202307-citibike-tripdata.csv')

df8 = pd.read_csv('Raw Data/JC-202308-citibike-tripdata.csv')

df9 = pd.read_csv('Raw Data/JC-202309-citibike-tripdata.csv')

df10 = pd.read_csv('Raw Data/JC-202310-citibike-tripdata.csv')

df11 = pd.read_csv('Raw Data/JC-202311-citibike-tripdata.csv')

df12 = pd.read_csv('Raw Data/JC-202312-citibike-tripdata.csv')

df13 = pd.read_csv('Raw Data/JC-202401-citibike-tripdata.csv')

df14 = pd.read_csv('Raw Data/JC-202402-citibike-tripdata.csv')

df15 = pd.read_csv('Raw Data/JC-202403-citibike-tripdata.csv')

In [4]:
full_data = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15]

results = pd.concat(full_data)

results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1160706 entries, 0 to 65580
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1160706 non-null  object
 1   rideable_type       1160706 non-null  object
 2   started_at          1160706 non-null  object
 3   ended_at            1160706 non-null  object
 4   start_station_name  1160546 non-null  object
 5   start_station_id    1160546 non-null  object
 6   end_station_name    1156862 non-null  object
 7   end_station_id      1156844 non-null  object
 8   start_lat           1160706 non-null  float64
 9   start_lng           1160706 non-null  float64
 10  end_lat             1159698 non-null  float64
 11  end_lng             1159698 non-null  float64
 12  member_casual       1160706 non-null  object
dtypes: float64(4), object(9)
memory usage: 124.0+ MB

In [5]:
# Remove duplicates
results = results.dropna()
results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1156795 entries, 0 to 65580
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1156795 non-null  object
 1   rideable_type       1156795 non-null  object
 2   started_at          1156795 non-null  object
 3   ended_at            1156795 non-null  object
 4   start_station_name  1156795 non-null  object
 5   start_station_id    1156795 non-null  object
 6   end_station_name    1156795 non-null  object
 7   end_station_id      1156795 non-null  object
 8   start_lat           1156795 non-null  float64
 9   start_lng           1156795 non-null  float64
 10  end_lat             1156795 non-null  float64
 11  end_lng             1156795 non-null  float64
 12  member_casual       1156795 non-null  object
dtypes: float64(4), object(9)
memory usage: 123.6+ MB

In [6]:
results.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member
5,8B09969A4891D5F9,classic_bike,2023-01-18 08:11:38,2023-01-18 08:15:30,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member
6,E8925D3061287322,electric_bike,2023-01-26 08:38:32,2023-01-26 08:45:09,Hamilton Park,JC009,Marshall St & 2 St,HB408,40.727596,-74.044247,40.740802,-74.042521,member
7,5AB1C193D3F6D12E,classic_bike,2023-01-22 12:36:31,2023-01-22 12:57:41,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marin Light Rail,JC013,40.735938,-74.030305,40.714584,-74.042817,member
8,65F9E37F8E28A6B2,classic_bike,2023-01-18 20:45:17,2023-01-18 20:52:18,Journal Square,JC103,Christ Hospital,JC034,40.733670,-74.062500,40.734786,-74.050444,member
9,DBDCD724E0A258F3,classic_bike,2023-01-17 13:45:17,2023-01-17 13:51:44,Journal Square,JC103,Christ Hospital,JC034,40.733790,-74.062513,40.734786,-74.050444,member

In [9]:
# Convert 'started_at' and 'ended_at' to datetime columns
results[['started_at', 'ended_at']] = results[['started_at', 'ended_at']].apply(pd.to_datetime)
results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1156795 entries, 0 to 65580
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1156795 non-null  object
 1   rideable_type       1156795 non-null  object
 2   started_at          1156795 non-null  datetime64[ns]
 3   ended_at            1156795 non-null  datetime64[ns]
 4   start_station_name  1156795 non-null  object
 5   start_station_id    1156795 non-null  object
 6   end_station_name    1156795 non-null  object
 7   end_station_id      1156795 non-null  object
 8   start_lat           1156795 non-null  float64
 9   start_lng           1156795 non-null  float64
 10  end_lat             1156795 non-null  float64
 11  end_lng             1156795 non-null  float64
 12  member_casual       1156795 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 123.6+ MB

In [10]:
results.to_csv('Clean and merged dataset/1-1-2023_to_3-31-2024_citibike_tripdata.csv')